:root {
    --primary: #FD2A2A;
    --secondary-light: #FFFFFF;
    --secondary-dark: #201E1F;

    --font-light-black: #49484F;

    --bg-light-black: #272526;

    --blue: #4BA3C3;
    --yellow: #F9DC5C;
    --lightgray: #F9F9F9;
    --darkgray: #BCBCBC;
}

html {
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }

    @media (max-width: 720px) {
        font-size: 87.5%;
    }

    @media (max-width: 480px) {
        font-size: 68.75%;
    }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button {
    font-family: 'Karla', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    font-weight: 400;
}

html, #__next {
    min-height: 100vh;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
